.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}

.table tr:nth-last-of-type(odd) {
  background-color: #f3f2f8;
}

.dark tr {
  background-color: rgb(118, 110, 126);
  color: white;
}

.dark .table tr:nth-last-of-type(odd) {
  background-color: rgb(100, 87, 110);
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}
